body{
    background-color: rgb(189, 155, 155);
}
.header{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    

}
.main{
    width: 350px;
    /* height: 100px; */
    background-color: #fff;
    /* text-align: center; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.main1{
    width: 350px;
    /* height: 100px; */
    background-color: #fff;
    /* text-align: center; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
 
}
.main p{
    margin: 20px;
}
.main1 p{
    margin: 20px;
}
@media screen and (max-width:600px) {
    body{
        background-color: yellow;
    }
    .header{
        /* display: flex; */
        flex-direction:column;
        /* justify-content: center; */
        align-items: center;
    }

    
}
@media screen and (max-width:800px) {
    body{
        background-color: blue;
    }
    .header{
        /* display: flex; */
        flex-direction:column;
        /* justify-content: center; */
        align-items: center;
    }
}